*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



.tt{
    text-align: center;
 width:100% ;
 height: 100vh;
 background-image: url(../images/drew-coffman-1872.jpg);
 background-size:100% 100%;
 background-repeat:no-repeat;
 padding: 100px 0px ;
color: white;
} 

.tt p{
  font-size: 30px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
}


.bt{
    padding:15px 25px ;
    margin-right: 5px;
   border: 0;
}


.b-bis{
    background-color: bisque;
}


.timenu{
background-color: white;
height:50px ;
z-index: 1000;
position: fixed;
width: 100%;
top:0 ;

}

.timenu .logo {
    background-image: url(../images/bakery-color.png);
    width: 10%;
    height: 80%;
 background-size:100% 100%;
 background-repeat: no-repeat;
 background-position: center center;  
 float: left;
 margin:5px 15px ;
}




 .timenu .uliste li  {

 width: 100px ;
 height: 30px; 
 display:inline-block;
 float:right;
margin: 15px 0px;
}

.timenu .uliste a{
    text-decoration: none;
    color: #000;

}

.clear-fix{
    clear: both;

}




.alex{
 width: 100%;
 height: 600px;
 position: relative;

}
.alex img{
   width: 40%; 
   margin-top:10px;
}


.alex ul li img{
 border-radius: 50%;
 width:8% ;
 border: black 1px solid;
 margin:3px 0px ;
}

.alex ul  { list-style-type:none ;
    padding-left:0;

}

.alex li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.h-alex{
    width: 50%;
    position: absolute;
    right:0 ;
    top: 100px;

}

.bco{  
    background-color: rgb(248, 248, 248);
    width: 100%;
    height:600px;
    position: relative;
   }

.bco img{
    width: 40%;
 
}

.h-bco{
    
    width: 50%;
    position: absolute;
    left: 0;
    top: 200px;
    
}

.menu{
   width: 100%;
    text-align: center;
 
}

.food { 
   width:25% ;
    text-align: center;
  display:inline-block;
  margin:5px 5px ;
}
.food img{
    width: 100%;
}

.food h2{
    padding:10px 0px ;
}

.location{
    background-color: rgb(248, 248, 248);
 width: 100%;
 height: 600px;
 position: relative;

}

.location  img{

   width: 40%; 
}


.location ul li img{
    border-radius: 50%;
    width: 15%;
    border: black 1px solid;
    margin: 3px 0px;
    background-color: rgb(142, 119, 84);
   }
   
   .location ul  { list-style-type:none ;
       padding-right: 50%;
   
   }
  
   .location li{
    display: flex;
    align-items: center;
    gap: 10px;
   }

   .h-location{
    width: 50%;
    position: absolute;
    left: 0;
    top: 100px;
    
   }

   .amige{
    position: absolute;
    right:0px ;
    margin:60px;
   }


   .end{
    background-color:rgb(53, 51 , 48);
  width: 100%;  
  text-align: center; 
}
   .end-amige{
    width: 200px;
    text-align: center;
     margin: auto;
   } 
 .end-iteme{
    background-color: rgb(72, 69, 64);
 width: 25%;
 border-radius: 50%;
 float:left;
  
 }

 .end-iteme img{
    width: 100%;
 
}

.blue:hover{
    background-color: rgb(0, 64, 255);
}

.rgb:hover{
    background-color: rgb(0, 140, 255);
}
.red:hover{
    background-color: crimson;
}

.aqua:hover{
    background-color: rgb(75, 162, 212);
}
